<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-3">
            <div class="card card-inverse card-primary">
                <div class="card-block">
                    <div class="h4 m-0">Hi There! </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <label id="search_box" class="form-control-label" for="appendedInputButton">Search a Location!</label>
            <div class="controls">
                <div class="input-group">
                    <input type="text" class="form-control" id="appendedInputButton" size="16">
                    <span class="input-group-btn">
              <button class="btn btn-defualt" type="button"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
            </span>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>

    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Most Popular Countries of the Month</h1>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-block">
                    <img src="../assets/img/flags/USA.png">
                    <h3 class="card-title">The USA</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-block">
                    <img src="../assets/img/flags/Canada.png">
                    <h3 class="card-title">Canada</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-block">
                    <img src="../assets/img/flags/Turkey.png">
                    <h3 class="card-title">Türkiye</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-block">
                    <img src="../assets/img/flags/Pakistan.png">
                    <h3 class="card-title">Pakistan</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-block">
                    <img src="../assets/img/flags/Australia.png">
                    <h3 class="card-title">Australia</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-block">
                    <img src="../assets/img/flags/Malaysia.png">
                    <h3 class="card-title">Malaysia</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- Button trigger modal -->

    <div class="row">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signup">
        Launch demo modal
      </button>
      <!-- Modal for register-->
      <div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <h4 class="modal-title text-center" id="myModalLabel">Create your Itinerary</h4>
                  </div>
                  <div class="modal-body">
                    <div class="form-group">
                        <label for="name"><strong>Name</strong></label>
                        <input type="text" class="form-control" id="name" placeholder="Enter your name">
                    </div>
                    <div class="row">
                      <div style="padding-left:12px;"><label for="dateFrom"><strong>Date From:</strong></label></div>
                        <div class="form-group col-sm-2">
                            <label for="ccmonth">Date</label>
                            <select class="form-control" id="ccmonth">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                                <option>13</option>
                                <option>14</option>
                                <option>15</option>
                                <option>16</option>
                                <option>17</option>
                                <option>18</option>
                                <option>19</option>
                                <option>20</option>
                                <option>21</option>
                                <option>22</option>
                                <option>23</option>
                                <option>24</option>
                                <option>25</option>
                                <option>26</option>
                                <option>27</option>
                                <option>28</option>
                                <option>29</option>
                                <option>30</option>
                                <option>31</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-2">
                            <label for="ccmonth">Month</label>
                            <select class="form-control" id="ccmonth">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                            </select>
                        </div>
                              <div class="form-group col-sm-3">
                                  <label for="ccyear">Year</label>
                                  <select class="form-control" id="ccyear">
                                      <option>2017</option>
                                      <option>2016</option>
                                      <option>2015</option>
                                      <option>2014</option>
                                      <option>2013</option>
                                  </select>
                        </div>
                    </div>
                    <div class="row">
                      <div style="padding-left:12px;"><label for="dateFrom"><strong>Date To:</strong></label></div>
                        <div class="form-group col-sm-2">
                            <label for="ccmonth">Date</label>
                            <select class="form-control" id="ccmonth">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                                <option>13</option>
                                <option>14</option>
                                <option>15</option>
                                <option>16</option>
                                <option>17</option>
                                <option>18</option>
                                <option>19</option>
                                <option>20</option>
                                <option>21</option>
                                <option>22</option>
                                <option>23</option>
                                <option>24</option>
                                <option>25</option>
                                <option>26</option>
                                <option>27</option>
                                <option>28</option>
                                <option>29</option>
                                <option>30</option>
                                <option>31</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-2">
                            <label for="ccmonth">Month</label>
                            <select class="form-control" id="ccmonth">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                            </select>
                        </div>
                              <div class="form-group col-sm-3">
                                  <label for="ccyear">Year</label>
                                  <select class="form-control" id="ccyear">
                                      <option>2017</option>
                                      <option>2016</option>
                                      <option>2015</option>
                                      <option>2014</option>
                                      <option>2013</option>
                                  </select>
                        </div>

                        <div class="row">

                        </div>

                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
              </div>
          </div>
      </div>

    </div>

    <script type="text/javascript">
        $('#signup').appendTo("body")
    </script>
