<div class="cover text-center" style="background-image: url(../img/background.jpeg); background-repeat: no-repeat; margin-bottom: 10px">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1  class="display-1 text-black" style="font-weight: bold;">Welcome to ChatIT</h1>
                <a id="button-scroll"><i class="fa fa-arrow-down fa-5x" aria-hidden="true" style="margin-top: 100px;"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="">
  <span id="section2">
    <div class="container-fluid" style="margin-bottom: -16px">
        <div class="row">
            <div class="col-md-4 p-0">
                <img src="../img/mm.jpg" style="max-width:100%; max-height:100%;"class="img-fluid m-0 p-0">
            </div>
            <div class="col-md-4 p-0">
                <img src="../img/italy.jpg" class="img-fluid m-0 p-0">
            </div>
            <div class="col-md-4 p-0">
                <img src="../img/eye.jpg" class="img-fluid m-0 p-0">
            </div>
        </div>
    </div>
    </span>
</div>
<div class="py-5">
    <div class="container" style="margin-top: 60px;">
        <div class="row">
            <div class="col-md-12">
                <h1>What is ChatIT?</h1>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="lead">How often has it been the case where you want to travel to a location but have no idea where to start? Even if you start you end up opening thousands of tabs.<br>
                  ChatIT is a Social Itinerary Application which provides an easy and social alternative to build up a travel itinerary for any location you choose. We bring passionate travelers who want to share their experiences on a platform and also allow others to go out into the world and explore. <br><br>
                  Lets explore the unexplored beautiful places brought up by the experiences of previous travelers and travel like a local!
                  </p>
            </div>
        </div>
    </div>
</div>
<div class="py-5 text-center">
    <div class="container" style="margin-top: 50px;">
        <div class="row">
            <div class="col-md-4">
                <i class="fa fa-users fa-5x" aria-hidden="true"></i>
                <h3 style="margin-top: 10px;">Real Experiences</h3>
                <p style="margin-top: 10px;">Created by travelers for travelers!</p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-file fa-5x" aria-hidden="true"></i>
                <h3 style="margin-top: 10px;">Actual Itineraries</h3>
                <p style="margin-top: 10px;">Details of each experience!</p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-commenting fa-5x" aria-hidden="true"></i>
                <h3 style="margin-top: 10px;">Chat Bot Service</h3>
                <p style="margin-top: 10px;">24/7 Available Chatbot Service</p>
            </div>
        </div>
    </div>
</div>
<div class="bg-faded py-0 text-center">
    <div class="container-fluid" style="margin-top: 150px;">
        <div class="row">
            <div class="col-md-6 p-5">
                <h1 class="m-y-2 m-y-lg  pi-item text-center">ChatIT</h1>
                <p class="text-center">
                    <strong>QHacks</strong><br>58 University Ave.<br>Kingston, CA KDAD<br>
                    <abbr title="Phone">P:</abbr>(123) 456-7890
                </p>
                <div class="my-2 m-y-lg row text-center">
                    <div class="col-4">

                    </div>
                    <div class="col-4">
                        <a></a>
                    </div>
                    <div class="col-4">

                    </div>
                </div>
            </div>
            <div class="col-md-6 p-0">

                <h1 class="m-5">Powered By</h1>
                <p class="lead" style="padding-bottom: 30px;">Team ChatIt</p>
            </div>
        </div>
    </div>
</div>
