-<form method="get" action="#/dashboard">
    <div class="app flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card mx-2">
                        <div class="card-block p-2">
                            <h1>Login</h1><br/>
                            <div class="input-group mb-1">
                            <span class="input-group-addon"><i class="icon-user"></i>
                            </span>
                                <input id="username" type="text" class="form-control" placeholder="Username" required >
                            </div>
                            <div class="input-group mb-1">
                            <span class="input-group-addon"><i class="icon-lock"></i>
                            </span>
                                <input id="password" type="password" class="form-control" placeholder="Password" required>
                            </div>
                            <button id="loginButton" type="submit" class="btn btn-block btn-success">Login</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
